<%- include('../includes/head.ejs') %>

  </head>
<body>

  <!-- Navigation and Cart Side Panel  -->
  <%- include('../includes/navigation.ejs') %>
  
    <!-- breadcrum -->
    <div class="py-4 container flex gap-3 items-center font-roboto">
        <a href="/" class="text-primary text-base">
            <ion-icon name="home" class="block"></ion-icon>
        </a>
        <span class="text-sm text-gray-400">
            <ion-icon name="chevron-forward-outline" class="block"></ion-icon>
        </span>
        <p class="text-gray-600 font-medium">Checkout</p>
    </div>
    <!-- breadcrum end -->

    <!-- checkout wrapper -->
    <form action="/place-order" method="post">
        <div class="container lg:grid grid-cols-12 gap-6 items-start pb-16 pt-4">
            <!-- checkout form -->
            <div class="lg:col-span-8 border border-gray-200 px-4 py-4 rounded">
                <!-- <form action=""> -->
                    <h3 class="text-lg font-medium capitalize mb-4">
                        Enter Shipping Details
                    </h3>

                    <div class="space-y-4">
                        <div>
                            <label class="text-gray-600 mb-2 block">
                                Full Name <span class="text-primary">*</span>
                            </label>
                            <input name="name" type="text" class="input-box" required>
                        </div>

                        <div>
                            <label class="text-gray-600 mb-2 block">
                                Street Address <span class="text-primary">*</span>
                            </label>
                            <input name="street" type="text" class="input-box" required>
                        </div>

                        <div>
                            <label class="text-gray-600 mb-2 block">
                                Town/City <span class="text-primary">*</span>
                            </label>
                            <input name="town" type="text" class="input-box" required>
                        </div>

                        <div>
                            <label class="text-gray-600 mb-2 block">
                                State <span class="text-primary">*</span>
                            </label>
                            <input name="state" type="text" class="input-box" required>
                        </div>
                        
                        <div>
                            <label class="text-gray-600 mb-2 block">
                                Pin Code <span class="text-primary">*</span>
                            </label>
                            <input name="pincode" type="number" class="input-box" required>
                        </div>

                        <div>
                            <label class="text-gray-600 mb-2 block">
                                Phone Number <span class="text-primary">*</span>
                            </label>
                            <input name="phone" type="number" class="input-box" required>
                        </div>
                        
                    </div>
                <!-- </form> -->
            </div>
            <!-- checkout form end -->

            <!-- order summary -->
            <div class="lg:col-span-4 border border-gray-200 px-4 py-4 rounded mt-6 lg:mt-0">
                <h4 class="text-gray-800 text-lg mb-4 font-medium uppercase">ORDER SUMMARY</h4>
                <div class="space-y-2">
                    <% for(let product of Object.values(session.cart.items)) { %>
                        <div class="flex justify-between" v-for="n in 3" :key="n">
                            <div>
                                <h5 class="text-gray-800 font-medium"> <%= product.item.title %> </h5>
                                <p class="text-sm text-gray-600">Qty: <%= product.qty %></p>
                            </div>
                            <p class="text-gray-800 font-medium">$<%= product.item.price * product.qty %> </p>
                        </div>
                        <hr>
                    <% } %>
                <hr>
                </div>
                <div class="flex justify-between border-b border-gray-200 mt-1">
                    <h4 class="text-gray-800 font-medium my-3 uppercase">Subtotal</h4>
                    <h4 class="text-gray-800 font-medium my-3 uppercase">$<%= session.cart.totalPrice %></h4>
                </div>
                <div class="flex justify-between border-b border-gray-200">
                    <h4 class="text-gray-800 font-medium my-3 uppercase">Shipping</h4>
                    <h4 class="text-gray-800 font-medium my-3 uppercase">Free</h4>
                </div>
                <div class="flex justify-between">
                    <h4 class="text-gray-800 font-semibold my-3 uppercase">Total</h4>
                    <h4 class="text-gray-800 font-semibold my-3 uppercase">$<%= session.cart.totalPrice %></h4>
                </div>

                <!-- agreeement  -->
                <div class="flex items-center mb-4 mt-2">
                    <input type="checkbox" id="agreement"
                        class="text-primary focus:ring-0 rounded-sm cursor-pointer w-3 h-3">
                    <label for="agreement" class="text-gray-600 ml-3 cursor-pointer text-sm">
                        Agree to our
                        <a href="#" class="text-primary">terms & conditions</a>
                    </label>
                </div>

                <!-- checkout -->
                <button type="submit" id="place-order" class="bg-primary border border-primary text-white px-4 py-3 font-medium rounded-md uppercase hover:bg-transparent
            hover:text-primary transition text-sm w-full block text-center">
                    Place order
                </button>
                <!-- checkout end -->
            </div>
            <!-- order summary end -->
        </div>
    </form>
    <!-- checkout wrapper end -->

<!-- Footer and back to top -->
<%- include('../includes/footer.ejs') %>

<!-- End of the file -->
<%- include('../includes/end.ejs') %>